:host {
	--overlay-color: var(--schmancy-sys-color-surface-dim);
	--transition-duration: 0.2s;
	--sheet-radius: 0;
	--max-height: 100vh;
}

.sheet {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	visibility: visible;
	transition: visibility var(--transition-duration) ease-in-out;

	&[aria-hidden='true'] {
		visibility: hidden;
		pointer-events: none;

		.content {
			transform: translateY(100%);

			&[data-position='side'] {
				transform: translateX(100%);
			}
		}

		.overlay {
			opacity: 0;
		}
	}
}

.overlay {
	position: absolute;
	inset: 0;
	background: var(--overlay-color);
	opacity: 0.8;
	transition: opacity var(--transition-duration) ease-in-out;
}

.content {
	z-index: 1;
	transition: transform var(--transition-duration) ease-in-out;
	overflow: auto;

	&[data-position='side'] {
		height: 100%;
		min-width: 320px;
		max-width: 90vw;
		width: fit-content;
		margin-left: auto;
	}

	&[data-position='bottom'] {
		width: 100%;
		margin-top: auto;
		border-radius: 16px 16px 0 0;
		max-height: 100vh;
	}
}
