ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
@mhmo91:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@juliangarnierorg:registry=https://npm.pkg.github.com