:host {
	display: block;
	border: unset !important;
	line-height: unset !important;
	background: unset !important;
	padding: unset !important;
	font-size: unset !important;
	box-shadow: unset !important;
}

:host:focus {
	box-shadow: unset !important;
}

@keyframes onAutoFillStart {
	from {/**/}
	to {/**/}
}

sch-input::part(input):-webkit-autofill,
sch-input input:-webkit-autofill {
	animation-name: onAutoFillStart;
	animation-duration: 1ms;
}
