:host {
	border: unset !important;
	line-height: unset !important;
	background: unset !important;
	padding: unset !important;
	font-size: unset !important;
	box-shadow: unset !important;
	width: -webkit-fill-available;
}

:host:focus {
	box-shadow: unset !important;
}

input:focus-visible {
	outline: none !important;
}

input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-indent: inherit;
	text-shadow: inherit;
	text-overflow: inherit;
	text-rendering: inherit;
	text-size-adjust: inherit;
	text-align-last: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@keyframes onAutoFillStart {
	from {
	}
	to {
	}
}

input:-webkit-autofill {
	animation-name: onAutoFillStart;
}

/* Target WebKit browsers (Chrome, Safari, newer versions of Opera) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	/* Override the background color */
	-webkit-box-shadow: 0 0 0 30px var(--schmancy-sys-color-surface-highest) inset !important;

	/* Override text color */
	-webkit-text-fill-color: var(--schmancy-sys-color-surface-on) !important;

	/* Maintain your transition effects, if any */
	transition: background-color 5000s ease-in-out 0s;
}

/* For Mozilla Firefox */
@-moz-document url-prefix() {
	input:-moz-autofill,
	input:-moz-autofill:focus {
		background-color: var(--schmancy-sys-color-surface-highest) !important;
		color: var(--schmancy-sys-color-surface-on) !important;
	}
}

/* For non-WebKit browsers that support :autofill */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	background-color: var(--schmancy-sys-color-surface-highest) !important;
	color: var(--schmancy-sys-color-surface-on) !important;
}
