:host {
	border: unset !important;
	line-height: unset !important;
	background: unset !important;
	padding: unset !important;
	font-size: unset !important;
	box-shadow: unset !important;
	width: -webkit-fill-available;
}

:host:focus {
	box-shadow: unset !important;
}

input:focus-visible {
	outline: none !important;
}

input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-indent: inherit;
	text-shadow: inherit;
	text-overflow: inherit;
	text-rendering: inherit;
	text-size-adjust: inherit;
	text-align-last: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@keyframes onAutoFillStart {
	from {
	}
	to {
	}
}

input:-webkit-autofill {
	animation-name: onAutoFillStart;
}
